streamlit
python-dotenv
langchain
langchain-community
langchain-core
langchain-groq
faiss-cpu
tiktoken
openai
huggingface_hub
youtube-transcript-api
pytube
pandas
sentence-transformers
torch
transformers
chromadb

